[package]
name = "ds2484"
version = "0.1.0"
edition = "2024"

[dependencies]
embedded-onewire = {path = "../embedded-onewire"}
bitfield-struct = "0.11"
embedded-hal = { version = "1.0" }
embedded-hal-async = { version = "1.0" }